%h1.text-center New Post
.alert.alert-warning{ ng: { hide: 'signed_in' } }
  Please,
  %a{ href: '/users/sign_in' }sign in
  
%form{ name: 'form', novalidate: true }
  %ul
    %li.text-danger{ ng: { show: 'form.title.$error.required' } } Title can't be blank
    %li.text-danger{ ng: { show: 'form.body.$error.required' } } Body can't be blank
    %li.text-danger{ ng: { show: 'form.body.$error.minlength' } } Body min lenght is 32
  .form-group
    %lable Title
    %input.form-control{ type: 'text', name: 'title', required: true, ng: { model: 'post.title' } }
    %lable Body
    %textarea.form-control{ name: 'body', minlength: 32, required: true, ng: { model: 'post.body' } }

  %input.btn.btn-default{ type: 'submit', value: 'Save', ng: { click: 'create(post)' } }