.input-group
  %input.form-control{ placeholder: 'Search for...', type: 'text', ng: { model: 'request' } }
  %span.input-group-btn
    %button.btn.btn-default{ type: 'button', ng: { click: 'search()' } } Go!

.media{ ng: { repeat: 'post in posts' } }
  .media-left
    %img{ src: '{{post.cover}}' }
  .media-body
    %h1.media-heading
      %a{ href: '/#/posts/{{post.id}}' } {{post.title}}
    {{post.body|cut:true:128:'...'}}
%pagination{ ng: { model: 'currentPage' }, total: { items: 'totalItems'}, items: { per: { page: 'itemsPerPage' } } }